*{
    margin: 0px;
    padding: 0px;
}

#contenido{
    width: 96%;
    margin: 10px auto;
    box-shadow: 1px 1px 1px #cccccc, -1px -1px 1px #ccc;
}
input{
    width: 94%;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #999999;
    font-size: 1.3em;
    font-weight: 200;
}
#save{
    background: #ff0000;
    border: none;
    color:white;
    font-weight: 500;
    /*display: none;*/
}
.btn-formateo{
    background: #0b5394;
    color: white;
    font-weight: 300;
}
#elements input[type=button]{
    width:100%;
    display: inline-block;
    margin:0px; 
    padding: 4px 2px;
    background: #45818e;
    border: none;
    border-radius:5px;
    color:white;
    font-weight:300;
    font-size:0.8em;
}
input:focus{
    border-bottom: 2px solid #0000ff;
    font-size: 1.4em;
    font-weight: 300;
}
#elements{
    width: 94%;
    height: 400px;
    margin: 10px;
    background: #aaddff;
    overflow-y: scroll;
    overflow-x: scroll;
}
#elements table{
    table-layout: auto;
    width: 100%;
    text-align: center;
    font-weight: 300;
    background: #4c1130;
    color:#ffffff;
    /*box-sizing: border-box;*/
}
#elements table caption{
    text-align: center;
    font-weight: 300;
    background: #741b47;
    color:#ffffff;
}
#elements table thead{
    position: static;
    
}